.navbar .links li {
  padding: 5px;
}
.navbar .links li a {
  color: white;
}
.cards {
  position: relative;
}
.footer {
  flex-wrap: wrap;
  margin: auto;
}
.footer ul {
  width: 250px;
}
.footer ul li {
  padding-left: 20px;
  padding-bottom: 20px;
}
.footer ul li a {
  color: #9e9e9e;
}
